Hal.json
{
  "name": "Hal",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "9c2991dc-c0a8-409c-a319-2bd14cbb399c",
      "name": "When chat message received",
      "webhookId": "21dc76c9-81fa-4df2-b13d-64b029f55d69"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        224,
        0
      ],
      "id": "c8840a9a-726b-49c0-ae8b-3def97cfcff5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "qwen2.5:7b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        296,
        224
      ],
      "id": "2661a2e7-0515-4a9e-bf9c-afbdcdf0912e",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "pObubeJbXf0OiLte",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "command": "=echo \"{{$json.output}}\" > \"%USERPROFILE%\\n8n_tts\\input.txt\" && powershell -ExecutionPolicy Bypass -File \"%USERPROFILE%\\n8n_tts\\tts_n8n_2.ps1\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        576,
        0
      ],
      "id": "ec4e0787-2860-43bc-9139-2a3114275ee8",
      "name": "Execute Command"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fb79547d-3a40-4f8e-8e4c-7d329adc9f59",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b286903315a4e9e027366b58b1b1411cef9c1d266ad2b466d192982c3b2ef861"
  },
  "id": "Cw9HEB3La5znllHF",
  "tags": []
}